<!-- /views/index.ejs -->
<div class="text-center col-md-8 col-md-offset-2">
    
    <h3>Login or Become a Dozer:</h3>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>
    <hr>
    <h4>Or Login With <a href="/auth/google" class="btn btn-primary">Google</a></h4>
</div>