<!-- /views/layout.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Dozer App</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
	<% if(!currentUser) { %>
		<% currentUser = "not logged in" %>
	<% } %>
		<%= currentUser.name %>
	<form action="/logout" method="get">
		<button class="btn" type="submit">logout</button>
	</form>
	<form action="/trips" method="get">
		<button class="btn" type="submit">View Trips</button>
	</form>
	<form action="/profile" method="get">
		<button class="btn" type="submit">Profile</button>
	</form>
	<div class="container">
			<h1 style="font-family: 'Pacifico', cursive;">Dozer</h1>
		<%- body %>
	</div>
</body>
</html>