
<!-- <p>All trips here</p>
<% trips.forEach(function(trip) {   %>
     <%= trip %> <br> 
<% })                              %>  -->

<p style="font-family: 'Pacifico', cursive; font-size: 18px">Your top 3 popular destinations</p>
<% sortedEnds.forEach(function(element) {   %>
   <button class="btn btn-primary">Go Here!</button>  <%= `${element._id}` %> <br> 
<%  })                                      %>
<!-- must discrern routes -->
<form method="post" action="/trips" >
    <button class= "btn" type="submit">New Trip</button>
</form>

