<!-- Author: Nate -->
<p>All trips here</p>
<%= trips %>
<br>
<p>Below should be the sorted trip destinations</p>
<%= sortedEnds %>
<!-- must discrern routes -->
<form method="post" action="/trips" >
    <button class= "btn" type="submit">New Trip</button>
</form>

