
<!-- <p>All trips here</p>
<% trips.forEach(function(trip) {   %>
     <%= trip %> <br> 
<% })                              %>  -->

<p>Your past destinations</p>
<% sortedEnds.forEach(function(element) {   %>
     <%= `Depart: ${element} Arrival: ${element._id} ${element.count}` %> <br> 
<%  })                                      %>
<!-- must discrern routes -->
<form method="post" action="/trips" >
    <button class= "btn" type="submit">New Trip</button>
</form>

