
<p id="popular-trips">Your Top Destinations</p>



<% sortedEnds.forEach(function(element) {  %>
    <!-- when clicked should pass element.id to save in route -->
    <form method="post" action="/trips">
        <input type="hidden" name="end" value="<%= element._id %>">
        <button class="btn btn-primary trip-button" ><%= `${element._id}` %></button> 
    </form>
<%  })  %>

<!-- must discrern routes -->
<form method="post" action="/trips" >
    <input type="hidden" name="trip">
    <button class= "btn trip-button" type="submit" >New Trip</button>
</form>


