<!-- Author: Nate -->
<p>All trips here</p>
<% trips.forEach(function(trip) {   %>
     <%= trip %> <br> 
<% })                              %> 
<br>
<p>Below should be the sorted trip destinations</p>
<% sortedEnds.forEach(function(element) {   %>
     <%= `${element._id} ${element.count}` %> <br> 
<%  })                                      %>
<!-- must discrern routes -->
<form method="post" action="/trips" >
    <button class= "btn" type="submit">New Trip</button>
</form>

