<!-- Author: Nate -->
<!-- if user has previous trips -->
<% if(sortedTripsByDest){ %>
    <!-- add buttons for three most common trips -->
    <% for(let i = 0; i < 3; i++){ %>
        <% if(sortedTripsByDest[i]){ %>
            <!-- need to discern trip buttons -->
            <button class="trip-selection-button" id="trip-selection-i"><%= sortedTripsByDest[i] %></button>
        <% } %>
        <% else break %>
    <% } %>
<% } %>
<!-- must discrern routes -->
<button class="trip-selection-button">New Trip</button>
