.dozer-title{
    text-align: center;
}
#update-trip-submit{
    width: 100%
}
#response-setting-add{
    width: 100%
}
#navbar-title{
    font-family: 'Pacifico', cursive;
    color: white;
}
.alarm-setting{
    margin-bottom: 12px;
}
#settings{
    padding: 12px 0 12px 0;
}
.trans-radio-button{
    text-align: center
}
.trans-radio-button-group{
    margin: 12px 0 12px 0
}
#popular-trips{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center
}
.trip-button{
    height: 25%;
    width: 100%;
    max-height: 150px;
    margin-bottom: 4px;
}